demo1/src/main/mule/demo1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="4d0aba86-b46d-415f-83fe-e357ad24bd3b" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="demo1Flow" doc:id="63bef534-59d5-49c1-a3c9-a04c2151df54" >
		<http:listener doc:name="Listener" doc:id="427d9106-40c8-4621-91c5-361ee4c822a2" config-ref="HTTP_Listener_config" path="/*"/>
		<ee:transform doc:name="Transform Message" doc:id="43b51621-29c6-4d97-a17d-3579ec6e7a5c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message":"hello dagi"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="1a1d7f42-7668-485c-9406-fbc5ed628fb7" message="#[payload]"/>
	</flow>
</mule>
